/*=======================================
    #Variables
=========================================*/

/**
  TABLE OF CONTENTS

  COLORS
  Brand colors............................These are the main brand colors.
  Neutral colors..........................White and black, gray sacale, secondary colors.
  Utility colors..........................Other colors to represent states: info, warning, sucess, etc.

  TYPOGRAPHY
  Font famillies..........................The fonts used in the design system.
  Font weights............................Font weights
  Sizes...................................Font sizing for body text, paragraphs, inputs
  Heading sizes...........................Font sizing for page headings

  BREAKPOINTS
  Breakpoints.............................Global responsive breakpoints definitions
*/

:root {
  /*=======================================
    COLORS
=========================================*/

  /*=========================
    Brand Colors
==========================*/
  --primary: #2292b1;
  --gradient-start: #1b3385;
  --gradient-end: #25c5c9;

  /*=========================
    Neutral Colors
==========================*/
  --background: #0a0c11;
  --body-text: #abadb3;
  --border-color: #323438;
  --sub-menu-bg: #222;
  --white: #fff;

  /*=========================
    Utility Colors
==========================*/

  /*=======================================
    TYPOGRAPHY
=========================================*/
  /* 
  1. The Poppins font. This is the main font.
  https://fonts.googleapis.com/css?family=Poppins

  2. The Courier font. This is used for <pre> code.
  https://fonts.googleapis.com/css?family=Poppins
*/

  /*=========================
    Font famillies
==========================*/
  --base-font: 20px;
  --primary-font: "Poppins";

  /*=========================
    Font weights
==========================*/
  --thin: 100;
  --extra-light: 200;
  --light: 300;
  --normal: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
  --heavy: 900;

  /*=========================
    Sizes
==========================*/

  /*=========================
    Heading Sizes
==========================*/
}

/*=======================================
    RESETS
=========================================*/
body {
  box-sizing: border-box;
  font-family: var(--primary-font);
  font-size: var(--base-font);
  color: var(--body-text);
  background: var(--background);
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

.blocks {
  padding: 0 28px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  font-weight: var(--medium);
  color: var(--white);
  margin: 0;
}

h1 {
  font-size: 4em;
  line-height: 1.5em;
}
h4,
h5 {
  font-weight: var(--bold);
}

h6 {
  font-weight: var(--semi-bold);
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}

a {
  color: var(--body-Text);
  text-decoration: none;
  font-size: 0.9em;
  font-style: normal;
  font-weight: var(--normal);
  line-height: 2.4em;
  text-transform: capitalize;
}

a:hover,
.logo:hover {
  color: var(--primary);
}

.selected {
  color: var(--primary);
}

.lowlight {
  opacity: 0.5;
}

.inner-container {
  max-width: 1400px;
  margin: 0 auto;
  border-color: goldenrod;
}

.gradient-button {
  padding: 15px 34.86px 16.08px 35px;
  display: inline-block;
  margin-top: 14px;
  color: var(--white);
  border-radius: 30px;
  font-size: 0.9em;
  font-weight: var(--bold);
  line-height: 1.6em;
  background: linear-gradient(
    90deg,
    var(--gradient-start) 0%,
    var(--gradient-end) 100%
  );
}

.gradient-button:hover {
  background: var(--white);
  color: var(--background);
}

.circle {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  position: absolute;
  left: -11px;
  top: -2px;
}

.circle:hover {
  background: rgba(255, 255, 255, 0.25);
}

/*=======================================
    TO BE DELETED
=========================================*/
* {
  border-width: 8px;
  border-style: dashed;
}

* .container,
* .grid,
* .footer-content,
* .copyright-container,
.blocks,
.hero *,
.hero .inner-container {
  border: none;
}

html,
body {
  border: none;
}

section,
footer,
.navigation nav {
  border: none;
}

.inner-container {
  padding: 8px;
  border-width: 8px;
  border-style: dashed;
  border-color: goldenrod;
}

.hero {
  border-color: gray;
}

.logo,
.navigation,
.social-links {
  border-color: green;
}

main {
  border-color: cyan;
}

.our-services,
.big-numbers {
  border-color: gray;
}

.our-services .container * {
  border-color: greem;
}

/*=======================================
    Hero
=========================================*/

header {
  display: flex;
  gap: 8px;
}

.logo,
.navigation,
.social-links {
  flex: 1;
  gap: 8px;
  display: flex;
  align-items: center;
}

.logo {
  justify-content: left;
}

.logo h2 {
  font-size: 1.6em;
  font-weight: var(--bold);
}

.logo h2:hover {
  color: var(--primary);
}

.navigation {
  justify-content: center;
  text-align: center;
}

.nav-mobile {
  display: none;
}

/* .nav-panel {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
  background-color: var(--sub-menu-bg);
} */

.nav-desktop {
  display: block;
}

.nav-desktop > ul {
  gap: 35px;
}

.nav-desktop li:nth-child(2) {
  position: relative;
}

.nav-desktop li:nth-child(2):hover {
  position: relative;
}

.nav-desktop li:nth-child(2) ul {
  display: none;
}

.nav-desktop li:nth-child(2):hover ul {
  display: block;
}

.sub-menu {
  display: block;
  background-color: var(--sub-menu-bg);
  position: absolute;
  margin: 0;
  left: 0;
  top: 40px;
  z-index: 99;
}

.sub-menu li {
  width: 235px;
  height: 46px;
  margin: 0;
  padding: 0 23px;
  text-align: left;
  border-bottom: 1px solid var(--border-color);
}

.sub-menu li:hover {
  padding: 0 30px;
}

.sub-menu a {
  font-size: 0.75em;
  line-height: 3.1em;
}

.social-links {
  justify-content: end;
}

.social-links ul {
  gap: 30px;
}

.social-links li {
  position: relative;
  display: flex;
  align-items: center;
}

main {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  padding: 79px 0 70px;
}

main p {
  font-size: 1.2em;
  line-height: 2.1em;
  margin-top: 24px;
}

.video-container video {
  width: 100%;
  max-width: 100%;
  max-height: 600px;
  object-fit: cover;
}

/*=======================================
    Our Services
=========================================*/
.our-services .container {
  display: flex;
  gap: 8px;
}

.our-services .container * {
  flex: 1;
  border-color: green;
}

.big-numbers .container {
  display: flex;
  justify-content: center;
}

.big-numbers .container .number-box {
  border-color: green;
  flex: 1;
  display: flex;
  justify-content: center;
}

/*=======================================
    What We Do
=========================================*/
.what-we-do {
  border-color: gray;
}

.what-we-do .grid {
  display: flex;
  gap: 8px;
}

.what-we-do .grid * {
  flex: 1;
  display: flex;
  justify-content: center;
}

/*=======================================
    Promotional Content
=========================================*/
.promotional .container {
  text-align: center;
}

/*=======================================
    Footer
=========================================*/
footer .footer-content {
  display: flex;
}

footer .footer-content * {
  flex: 1;
  display: flex;
  justify-content: center;
}

.copyright-container {
  display: flex;
  align-items: center;
}

.copyright-container * {
  flex: 1;
  display: flex;
}

/*=======================================
    BREAKPOINTS
=========================================*/

/*=========================
    Mobile small devices
==========================*/
@media (max-width: 479px) {
  * {
    border-width: 5px;
  }

  .inner-container {
    border-width: 5px;
  }

  .our-services .container,
  .big-numbers .container,
  .what-we-do .grid,
  footer .footer-content,
  .copyright-container,
  .nav-mobile {
    display: block;
  }

  h1 {
    font-size: 2.1em;
  }

  .logo h2 {
    font-size: 1.2em;
  }

  .nav-mobile img {
    width: 18px;
    position: relative;
  }

  .navigation {
    justify-content: right;
    margin-right: 10px;
  }

  .nav-desktop {
    display: none;
  }

  main {
    padding: 42px 0;
  }

  main p {
    font-size: 1.1em;
    line-height: 1.925em;
  }

  .copyright-container * {
    display: flex;
    justify-content: center;
  }
}
